---
import Layout from 'src/layout.astro';
import content from 'content/get';
import RemoteMarkup from 'src/components/Remote/RemoteMarkup.astro';
import { Picture } from '@astrojs/image/components';

const people = await content.getPeople();
const peopleArray = await content.getPeopleArray();

const profile = await content.getProfile();

const portrait = `${content.apiUrl}${people?.previousLong?.content?.frontmatter?.portrait}`;
const portrait2 = `${content.apiUrl}${people?.hadPositionSign?.content?.frontmatter?.portrait}`;
---

<Layout>
  <h2>
    {people?.previousLong?.content?.frontmatter?.title}
  </h2>

  <h3>{people?.hadPositionSign?.meta?.baz}</h3>

  <RemoteMarkup content={people?.hadPositionSign?.content?.body} />

  <hr />

  <RemoteMarkup content={profile?.content?.body} />

  <hr />

  <div style="width: 100vw">
    URL: {portrait}
    <br />
    <Picture
      src={portrait}
      widths={[400, 800, 1200]}
      aspectRatio="12:5"
      sizes="100vw"
    />
    <Picture
      src={portrait2}
      widths={[400, 800, 1200]}
      aspectRatio="12:5"
      sizes="100vw"
    />
  </div>

  <hr />

  <RemoteMarkup content={peopleArray[0]?.content?.body} />

  <RemoteMarkup content={people?.previousLong?.content?.body} />
</Layout>
