---
import Diagram from '@julian_cataldo/astro-diagram/Diagram.astro';
import { Prism } from '@astrojs/prism';
import { decode } from 'html-entities';

import 'prismjs/themes/prism.css';

let code: string = '';
let html: string = '';
let language: string;

if (Astro.slots.has('default')) {
  /* Decoding HTML entities (a bit like `set:html` but without `Fragment`) */
  html = decode(await Astro.slots.render('default'));

  console.log({ html });

  const matcher = html.match(/<code class="language-(.*)">(.*)/i);
  [, language] = matcher;

  code = html
    .replace(`<code class="language-${language}">`, '')
    .replace('</code>', '');
}
---

{
  language === 'mermaid' && (
    <>
      <pre>{code}</pre>
      <Diagram code={code} />
    </>
  )
}
{
  !['mermaid'].includes(language) && (
    <div class="code">
      <em>{language}</em>

      <Prism lang={language} code={code} />
    </div>
  )
}
