---
import fs from 'node:fs/promises';
import path from 'node:path';
import { Code } from 'astro/components';
import Link from '@julian_cataldo/astro-link/Link.astro';
import './CodeEmbed.scss';

const { file, start, end } = Astro.props;

/* From mono-repo root */
const filePath = path.join(process.cwd(), '..', file);
const source = await fs
  .readFile(filePath)
  .then((s) => {
    let r = String(s);

    if (end) {
      r = r.split('\n').slice(0, end).join('\n');
      r += '\n\n(Truncated…)';
    }
    return String(r);
  })
  .catch((e) => {
    console.log(e);
    return '…';
  });

const language = path.extname(file).substring(1);
console.log({ language });

const repoUrl = `https://github.com/JulianCataldo/astro-content/blob/master/${file}`;
---

<div class="component-code-embed">
  <Link href={repoUrl} class="file unstyled">
    From: 📄&nbsp; <code>{file}</code>
  </Link>

  <div><Code code={source} lang={language} /></div>
</div>
